<%
    const _href     = locals.href || "#";
    const _type     = locals.type || "button";
    const _text     = locals.text || "متن پیشفرض";
    const _id       = locals.id   || Math.trunc(Math.random() * 1000);
    const _icon     = locals.icon;
    const _class    = locals.class;
    const _disabled = locals.disabled;

    let __disabled  = "";
    if (_disabled) __disabled = "disabled";
%>
<%# states: text/loading %>
<button state="text" type="<%= _type %>" class="button flex items-center gap-4 h-14 p-4 rounded-xl bg-green-400 transition-all disabled:cursor-not-allowed <%= _class %>" id="<%= _id %>" <%= __disabled %> href="<%= _href %>" >
    <% if (_icon) { %>
        <%- include("./icon", {icon: _icon, class: "icon w-6"}) %>
    <% } %>
    <div class="text font-IranSansX text-white"><%= _text %></div>
    <%- include("./loading") %>
</button>